
<router-outlet>
  <div class="Ttipoproducto">
    <label class="title" for="titulo">T_TIPO_PRODUCTO</label>
    <label class="label" for="name">DESTINO DEL PRODUCTO</label>
    <input class="textbox" type="name"  placeholder= " escriba el destino  ">
    <label class="label" for="name">NOMBRE DEL PRODUCTO</label>
    <input class="textbox" type="name"  placeholder= " ingrese nombre del producto ">
    <label class="label" for="id">ID DEL PRODUCTO</label>
    <input class="textbox" type="id"  placeholder= " ingrese el codigo del producto ">

<button class="button">GUARDAR</button>
<button class="button">MODIFICAR</button>
<button class="button">BUSCAR</button>
<button class="button">ELIMINAR</button>


  </div>
</router-outlet>
